@import "./variaveis.scss";

.container-feed {
    width: 100%;
    padding-bottom: 60px;
    margin-top: 55px;
    background-color: white;

    &.perfil{
        margin-top: 0px;
    }


    @media screen and ( min-width: $desktopBreakpoint) {
        width: 40%;
        margin-top: 110px;
        padding-bottom: 20px;
        
        &.perfil{
            margin-top: 0px;
        }
    }
}