@import "./variaveis.scss";

.container-header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 0.5px solid $cinza1;
}