@import "./variaveis.scss";

.container-header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 0.5px solid $cinza1;

    .principal {
        width: 100%;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width:37%;
            max-width: 123px;
        }


        .group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            

            .pesquisa {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $corPrimaria4;
                border-radius: 4px;


                &.focus  {
                    border: 1px solid $corPrimaria;
                }

                .icon {
                    padding-left: 5px;
                    width: 20px;
                    height: 20px;
                }

                input {
                    background-color: $corPrimaria4;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    padding: 8px;
                    font-family: $fontLight;
                    color: $corPrimaria;

                }
            }
        }
    }

    .container-navegacao {
        display: none;
    }

    .resultado {
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 9;
        top: 55px;
    }


    @media screen and (min-width: $desktopBreakpoint) {
        .principal {
            justify-content: space-evenly;

            img {
                width: 205px;
                max-width: none;
            }

            .group {
                .pesquisa{
                    padding: 8px;

                    input {
                        padding: 0px 12px;
                        width: 200px;
                        font-size: 16px;
                    }
                }
            }
        }

        .container-navegacao {
            display: flex;
            margin-left: 25px;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 160px;

                li {
                    list-style: none;
                    cursor: pointer;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        .resultado {
            top: 63px;
            margin-left: 16px;
            width: 20%;
            min-width: 340px;


            filter: drop-shadow(0px 4px 4px rgba(0 0 0.2));
        }
    }
}