@import "./variaveis.scss";

.container-header-perfil {
    width: 100%;
    margin-top: 0px;
    background-color: white;



    @media screen and ( min-width: $desktopBreakpoint) {
        width: 40%;
        margin-top: 110px;
    }
}